<%provide(:title, "Flights")%>
<div class="form-wrapper">
  <h1>Search for a flight to that special city</h1>>
  <div class="row">
     <%=form_for :flight, url:  root_path, method: "get" do |f|%>
      <div class="col s12">
          <div class="row">
            <div class="col s6">
              <%=label_tag "From"%>
              <%=select_tag :departure_id, options_for_select(@airports, params[:departure_id])%>
            </div>
            <div class="col s6">
              <%=label_tag "To"%>
              <%=select_tag :destination_id, options_for_select(@airports, params[:destination_id])%>
            </div>
          </div>
      </div>
      <div class="col s12">
          <div class="row">
            <div class="col s6">
              <%=f.label :departure_date, "Flight Date"%>
              <%=f.select :departure_date, options_for_select(@dates, params[:departure_date])%>
            </div>
            <div class="col s6">
              <%=f.fields_for :booking do |booking_form|%>
              <%=booking_form.label :no_of_passengers, "Number of Tickets"%>
              <%=booking_form.select :no_of_passengers, (1..5), value: 1%>
            <%end%>
            </div>
          </div>
      </div>
      <div class="col s4 offset-s4">
         <button type="submit" class="btn waves-light waves-effect">Submit</button>
      </div>
       <%end%>
    </div>
</div>