<%provide(:title, 'Sign Up')%>
<h4 class="center-align">Sign Up</h4>
<div class="row form-wrapper">
  <%= form_for @user do |f|%>
      <div class="row">
        <div class="input-field col l6 s12 offset-l3">
          <%= f.label :name, "Full Name"%>
          <%= f.text_field :name,class: "validate", required: true%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col l6 s12 offset-l3">
          <%= f.label :email, "Email"%>
          <%= f.email_field :email, class: "validate", required: true%>
        </div>
      </div>
        <div class="row">
          <div class="input-field col l6 s12 offset-l3">
            <%= f.label :password, "Password"%>
            <%= f.password_field :password, class: "validate", required: true%>
          </div>
        </div>
      <div class="row">
        <div class="input-field col l6 s12 offset-l3">
          <%= f.label :password_confirmation, "Confirm Password"%>
          <%= f.password_field :password_confirmation, class: "validate", required: true%>
        </div>
      </div>
      <div class="row">
        <div class="col s4 offset-s3 offset-l3 l4">
           <button type="submit" class="btn waves-light waves-effect">Sign Up</button>
        </div>
        <div class="col s4 l4">
            <%= link_to "Log In", login_path, class: "btn waves-effect waves-light"%>
        </div>
      </div>
  <%end%>
</div>
