<%provide(:title, 'Sign Up')%>
<div class="row">
  <%= form_for @user do |f|%>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :name, "Full Name"%>
          <%= f.text_field :name, placeholder: "Enter name" , class: "validate"%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email, "Email"%>
          <%= f.email_field :email, placeholder: "Enter email" , class: "validate", html: { data-error="Incorrect!!!" data-success="Nice!" } %>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          <%= f.label :password, "Password"%>
          <%= f.password_field :password, placeholder: "Enter password" , class: "validate"%>
        </div>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password_confirmation, "Confirm Password"%>
          <%= f.password_field :password_confirmation, placeholder: "Enter password" , class: "validate"%>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <button class: "btn waves-effect waves-light">
           <%= f.submit "Submit"%>
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class="col s6">
          <button class="btn waves-effect waves-light">
            <%= link_to "Log In", login_path%>
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    <%end%>
  </div>
