<div class="navbar-fixed" id="head-view">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Eagles Flight</a>
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/">Home</a></li>
          <%if !logged_in?%>
         <li><a href="<%= signup_path%>">Sign Up</a></li>
         <li><a href="<%= login_path%>">Log In</a></li>
         <% else %>
         <li><a href="#">Booking History</a></li>
          <li><a href="<%= logout_path%>">Log Out</a></li>
          <%end%>
        </ul>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="fa fa-bars"></i></a>
        <ul class="side-nav" id="mobile-demo">
          <li class="active"><a href="/">Home</a></li>
          <%if !logged_in?%>
         <li><a href="<%= signup_path%>">Sign Up</a></li>
         <li><a href="<%= login_path%>">Log In</a></li>
         <% else %>
         <li><a href="#">Booking History</a></li>
          <li><a href="<%= logout_path%>">Log Out</a></li>
          <%end%>
        </ul>
      </div>
    </nav>
  </div>